---
http_interactions:
- request:
    method: post
    uri: http://api.scribeseo.com/analysis/content?apikey=scribe-2c81aaba77ca4fc4bcf0a94812dd5e32&output=json
    body:
      encoding: UTF-8
      string: ! '{"htmlTitle":"Stocks Claw Back","htmlDescription":"Stocks reversed
        losses and inched higher, after elections in France and Greece fueled concerns
        about the region''s ability to deal with its sovereign-debt problems.","htmlHeadline":"Stocks
        Claw Back","htmlBody":"Stocks reversed losses and inched higher, after elections
        in France and Greece fueled concerns about the region''s ability to deal with
        its sovereign-debt problems. Stocks opened lower but recovered most losses
        by Monday afternoon. The Dow Jones Industrial Average rose 10 points, or 0.1%,
        to 13048. The Dow industrials fell as much as 68 points early in the session.
        The Standard & Poor''s 500-stock index rose four points, or 0.3%, to 1373,
        and the [...]
